<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Basic Banking System</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <style media="screen">
      h1 {
        color: #11698e;
        font-family: Brush Script MT, cursive;
        text-align: center;
        font-size: 50px;
      }
      body {
        background-color: white;
      }
      .container {
        width: cover;
        height: 600px;
      }
      img {
        width: 1150px;
        height: 550px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .button {
        background-color: #008cba;
        font-size: 16px;
        border: 2px solid darkblue;
        padding: 12px 20px;
        margin: 10px;
      }
      a {
        text-decoration: none;
        color: black;
      }
      h3 {
        text-align: center;
      }
      .copyright {
        font-size: 18px;
        padding: 20px 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Sparks Foundation Bank</h1>
      <div>
        <img src="./images/bank1.jpg" alt="" />
      </div>
      <div class="buttons">
        <button class="button" type="button" name="button">
          <a href="/viewcustomers">Choose Customers to transfer</a>
        </button>
      </div>
      <div class="copyright">
        <h3>Made in 2021</h3>
        <h3>by<a href="https://www.linkedin.com/in/tharanivadde/">@Tharani Vadde</a></h3>
      </div>
    </div>
  </body>
</html>
